[2015-06-08 23:05] bruth opened #1 "Implement data monitoring service for PEDSnet"
This ticket describes what is involved in implementing a data monitoring service for PEDSnet. The tangible outcome is a website containing information that answers the following questions:
- What does a particular field or table represent in the data model?
- What conventions were followed when populating the data in a particular field or table?
- What is the quality of the data for a particular f

[2015-06-08 23:17] bruth opened #2 "Write parser for PEDSnet ETL conventions document"
The document lives [here](https://github.com/PEDSnet/Data_Models/blob/master/PEDSnet/V2/docs/Pedsnet_CDM_V2_OMOPV5_ETL_Conventions.md). The implementation performs entity extraction of the Markfown file. The following rules define what will be parsed:
- Exclude the top-level `h1` element (the title)
- All content up the first `h2` represents _model-level_ content
- Each `h2` defines a table in the

[2015-06-08 23:21] bruth opened #3 "Write parser for CSV-based DQA results"
See PEDSnet/Data-Quality#61 for details of the CSV format that will contain DQA results. These files will be incorporated and linked to the corresponding table and field in the data model.

[2015-06-08 23:30] bruth opened #4 "Integrate PEDSnet data model from the "data models" service"
The PEDSnet v2 data model is incorporated in the [Data Models service](http://data-models.origins.link/models/pedsnet/v2) and maintained here: https://github.com/chop-dbhi/data-models. This provides the base information for the representing tables and fields for the data monitoring service (#1).

[2015-06-15 14:30] bruth opened #5 "Add process for tracking vocabulary files"

[2015-06-15 14:36] gracecodes144 commented on #5
Here's the two vocab packages in question. https://upenn.app.box.com/s/g5m9xzffjncr6lgiq34dxd6bh1wx5c52

The one dated earlier is the one we gave to sites for this V2 data extraction. The later one should have more CPT codes.

[2015-06-15 19:55] bruth commented on #5
Attributes of the concepts file:
- `concept_id`
- `concept_name`
- `domain_id`
- `vocabulary_id`
- `concept_class_id`
- `standard_concept`
- `concept_code`
- `valid_start_date`
- `valid_end_date`
- `invalid_reason`

The `domain_id` will be used as partition key for concepts. The `concept_id` will be used as the entity identifier. Two questions for @aaron0browne and @burrowse:
- Which of these attr

[2015-06-16 18:43] burrowse commented on #5
Conflicts:
- `Concept_id` There could be possible collision, we haven't confirmed this but I fear that there is potential for this to happen. I don't know how strict the boundaries for vocabularies are in the concept creation world
- `Domain_id` Addition or deletion of domains as the vocabulary expands
- `Vocabulary_id` Addition or deletion of vocabularies as the vocabulary expands
- `Concept_clas

[2015-06-16 19:02] bruth commented on #5
Very useful thanks. So is the fundamental reason for tracking these concepts because `concept_id` is supposed to be unique but isn't? Or are the vocabularies being used by sites not consistent?

**Edit:** grammar.

[2015-06-16 19:22] burrowse commented on #5
I think there are a few reasons really:
- Yes, there is the potential that they could not be unique (because we don't know the boundaries) although we expect them to be
- Yes, there are vocabularies being published very frequently that differ between distribution
- Concepts that are used in the sites ETL/ ETL Conventions could change in the underlying vocabularies on the OHDSII side, which is a pr

[2015-06-19 01:37] bruth commented on #5
After further discussion with @burrowse and @l-k-, the primary issue is that:
- Sites may be using a different version of the vocabulary than the DCC. This causes conflicts during data loading or data quality analysis which requires manual intervention, back and forth with the site, or refresh export from the site.

The primary cause is:
- The OMOP and PEDSnet vocabularies are published with undis

[2015-06-19 13:53] murphyke commented on #5
Riffing on Byron's comment about the primary issue, what do you think about these changes to our workflow: 1) PEDSnet always versions its vocabulary releases (Charlie?), 2) the vocabulary version gets declared in the site metadata, and 3) the vocab version becomes a parameter of the load process, so the vocab version can be validated.

[2015-06-19 13:56] bruth commented on #5
It seems that the DCC should be the one distributing the vocabulary to sites, not having the sites download from an external source.

[2015-06-19 14:11] murphyke commented on #5
Yeah, Charlie's Box URLs are both of those rolled into one (DCC-directed and external source); regardless of the source, the sites still have to load the right thing in the right database at the right time.  It might also be good for the DCC to add a vocab_metadata table to the vocabulary that would record the version.  (How nice would it be to be able to conclusively confirm what version of vocab

[2015-06-23 15:25] bruth opened #6 "Create user interface for presenting integrated data"
One approach would be to have:
- a sidebar with a list of tables that link to a page or jump to section in the document
- the table section would list table specific information, the list of fields
- each field would contain DQA and ETL specific information

For now I am inclined to link to the data models website rather than embed the information. However for a more integrated feel, this may need

[2015-06-23 16:20] gracecodes144 commented on #6
This approach sounds workable to me. I think linking to the data models website would be alright for a POC, but embedding the information should follow quickly.

[2015-06-26 13:16] bruth commented on #2
Implemented in #7

[2015-06-26 13:16] #2 closed, assigned to l-k-

[2015-07-10 18:00] bruth commented on #3
A sample CSV file is [here](https://github.com/PEDSnet/Data-Quality/blob/787104fe29528c2b650d79ff5e28ee0a335287d0/SecondaryReports/CHOP/ETLv3/Person.csv)

[2015-07-13 17:23] bruth opened #9 "Implement script to generate DQA template files"
See PEDSnet/Data-Quality#75 for the full discussion. To provide a consistent starting point:

[2015-07-13 17:26] writetoritu commented on #9
format for data version: PEDSnet-v2-CHOP-ETLv3
i.e. including model name, model version, site name, and extract version.

The reports should be created in the appropriate directory, e.g. https://github.com/PEDSnet/Data-Quality/tree/issue-61-sec-reports/SecondaryReports/CHOP/ETLv3 for CHOP's ETL v3

[2015-07-14 19:26] #9 closed, assigned to nobody

[2015-07-23 21:24] bruth opened #11 "Add date and sha1 to output of ETL conventions service"

[2015-08-03 17:21] bruth opened #13 "Replace Model, Table, Field structures with client library"
Depends on https://github.com/chop-dbhi/data-models-service/issues/9

[2015-08-06 12:34] bruth opened #14 "Add i2b2 conventions document to ETL service"
The document is [here](https://github.com/PEDSnet/Data_Models/blob/master/i2b2/V2/docs/i2b2_pedsnet_v2_etl_conventions.md). The tasks are:
- [ ] Add new routes for each document by name, e.g. `/pedsnet` and `/i2b2`
- [ ] Replace root endpoint with service information

@aaron0browne @murphyke What are your thoughts on the semantic version of these documents? Should the major version be included in

[2015-08-06 19:23] murphyke commented on #14
So that's the version of the document and not the version of the data model to which it applies, right?  Is the primary use case to grab the latest version of the ETL conventions document associated with a particular version of a data model?  It seems like the current state of affairs is to version the ETL conventions documents implicitly with the version of the data model (and make use of timesta

[2015-08-06 20:06] bruth commented on #14
That is a good question. My assumption is that the ETL conventions implicitly targets the latest data model definitions they apply to (PEDSnet and i2b2). The timestamp will be used to coordinate which conventions documents pertain to which version of the data model. So if a version is published, the last conventions document will be pinned to that version.

[2015-08-07 14:25] gracecodes144 commented on #14
I think @bruth is right about the conventions to data model version targeting, so far, in that the connection (beyond major version number) has been implicitly based on timestamp.

That seems to be a workable strategy moving forward, except that I would like to formalize the connection all the way down to the micro version number of the data model. So the semantic version of the documents would be

[2015-08-24 16:52] bruth opened #15 "Add semantic version to dqa-files tool"

[2015-08-24 18:51] bruth opened #16 "Extend dqa-files tool to produce markdown-based issue"
The input data would be a filled out CSV file ([example](https://github.com/PEDSnet/Data-Quality/blob/master/SecondaryReports/Nemours/ETLv4/drug_exposure.csv)) and produces the Markdown to render the body of a DQA results GitHub issue ([example](https://github.com/PEDSnet/Nemours/issues/12)).

The structure of the Markdown file is:
- Top-level message
- h1. per rank (High, Medium, Low)
- h2. Group

[2015-08-24 18:51] bruth commented on #16
The template would look like:

[code]

**Edit**: there can be multiple results per field, one for each goal.

[2015-08-25 11:31] bruth commented on #16
Example output

---

# High

## drug_exposure

1. **days_supply**: Missing Information (100%)
1. **dose_unit_concept_id**: Missing Information (Why is there no information even though the effective drug dose seems  to be  available at Nemours)
1. **dose_unit_source_value**: Unexpected Facts (Are these values extracted directly from EHR (i.e. untransformed). In other words, were the units already c

[2015-08-25 13:33] writetoritu commented on #16
We also need a similar tool for generating the feedback for Kevin @murphyke (only for the i2b2 sites: Nemours and Nationwide).  The tool should look for the following conditions and generate a list of all issues (sorted by table name only):
- Cause == 'i2b2 transform'
- Status == 'solution proposed;

[2015-08-25 13:43] bruth commented on #16
Would a flag work to denote the difference in output?

[code]

[2015-08-25 14:31] writetoritu commented on #16
Yes that would be good. Thanks!

[2015-08-26 10:21] #16 closed, assigned to nobody

[2015-08-26 12:42] bruth opened #18 "PEDSnet ETL conventions document table format changed"
See https://github.com/PEDSnet/Data_Models/commit/1eae0e8d609667ff1eb5b4389479e524aa870dd1

[2015-08-26 15:10] #14 closed, assigned to nobody

[2015-08-26 15:10] #18 closed, assigned to nobody

[2015-09-02 13:27] bruth opened #21 "Update path to PEDSnet ETL conventions document"
It moved from `PEDSnet/V2/docs/Pedsnet_CDM_V2_OMOPV5_ETL_Conventions.md`to `PEDSnet/docs/Pedsnet_CDM_ETL_Conventions.md` in https://github.com/PEDSnet/Data_Models/commit/8e51b8669d6a633165eed8e4186de95df6766bc1

[2015-09-02 13:45] #21 closed, assigned to nobody

[2015-09-02 18:58] writetoritu opened #22 "DQA: Need help in populating csv files with "ranks""
We would like to automate the issue ranking functionality of the DQA program. (some discussion is here https://github.com/PEDSnet/Data-Quality/issues/72).

Briefly, here is what we are trying to achieve: (once the csv files are populated by Levon/Ritu),
I/P = data version e.g. pointing to Boston ETL v4 https://github.com/PEDSnet/Data-Quality/tree/master/SecondaryReports/Boston/ETLv4
Functionality:

[2015-09-02 19:13] writetoritu opened #23 "DQA: proposed enhancement to template generation tool"
based on some discussion here: https://github.com/PEDSnet/Data-Quality/issues/79

We would like to have the following new feature in the template generator
- copy all the issues (i.e.all columns from Issue Code - Status)
  - From: the previous data version for the same site (all issues that are identified as "persistent"  i.e. where Status ="persistent")
  - Into:  the new versions of csv files.

[2015-09-03 00:00] bruth opened #24 "Add service layer for data dictionary parser"

[2015-09-03 13:12] bruth commented on #22
Yes, this would be straightforward to implement. I will add the functionality with the base set of rules you provide and then we can figure out a way to make defining the rules more accessible.

[2015-09-03 16:24] bruth commented on #22
@writetoritu When you get a chance, can you document the list of rules that you are manually applying?

[2015-09-03 16:30] bruth opened #25 "DQA: Create top-level command with subcommands"
Currently `dqa-files` and `dqa-issues` are two separate programs. With #22 and #23, development would benefit from combining the two source trees. I propose creating a top-level `pedsnet-dqa` program that defines a set of subcommands for the operations required by the DQA team.

@writetoritu Assuming this sounds good to you, do you have recommended command names for `dqa-files` and `dqa-issues`? I

[2015-09-03 17:18] writetoritu commented on #22
Hi Byron,

Thanks a lot for looking into this. This will be very useful in improving the DQA workflow.

Here is an example of a rule:
(Note: each rule is only applicable for records where Issue_code is not null and Status <> 'persistent')
- If
  - Table in (care_site, location, provider) &&
  - Field is a source_value (i.e. matches the pattern *_source_value) &&
  - Issue.Code = = 'G2-011' &&
  -

[2015-09-03 17:22] writetoritu commented on #25
I like the idea.
Can we make the command names more descriptive?
- generate-templates
- assign-ranking
- generate-feedback-for-sites

  Thanks
  Ritu

[2015-09-03 17:27] bruth commented on #25
Yes of course. Whatever makes sense to you.

[2015-09-03 17:38] writetoritu commented on #25
Ok then the following names work for me:
- generate-templates
  - the script to generate templates for secondary reports (currently known as dqa-files)
  - I will let you decide if you want to include the feature proposed in #23 into the "generate-templates" command or have a separate command for it?
- assign-rank-to-issues
  - the script to assign ranking to issues - being discussed in #22
- gene

[2015-09-03 17:53] bruth commented on #22
I think for the time being, you can just describe them like you did above and I will add them into the code directly. In order for them to be supplied or augmented at runtime, I would need to parser and interpret some grammar for these rules. It should be pretty straightforward to implement since the scope is small, but we will push that out unless you need it right away.

[2015-09-03 18:23] bruth commented on #24
I recommend taking a look at the `etl` service: https://github.com/PEDSnet/pedsnet-origins/blob/master/services/etl/main.py

[2015-09-03 18:39] l-k- commented on #24
Great, that is what I'm looking at -- thanks for confirming!

[2015-09-08 10:23] bruth opened #28 "Abstract out GitHub service calls and provenance generation for services"
The pending changes in #26 contain quite a few methods for fetching specific commits and ranges from the GitHub API to support temporal queries. Further, it has a provenance generator for the GitHub context.

[2015-09-09 16:07] writetoritu opened #29 "DQA: Enhance generate-feedback-for-sites script"
Hi Byron

Based on the feedback received from various sites, we would like to request a couple of enhancements: please see https://github.com/PEDSnet/Data-Quality/issues/114#issuecomment-138957694

Thanks a lot and please let us know how we can help or if there are any questions.
Ritu / Levon

[2015-09-09 17:55] bruth commented on #29
Thanks for the update and noted. A preview of the new tools should be done by tomorrow!

[2015-09-09 18:14] bruth commented on #24
See #27

[2015-09-09 22:46] bruth commented on #24
Implemented in #27

[2015-09-09 22:46] #24 closed, assigned to l-k-

[2015-09-09 22:55] #25 closed, assigned to nobody

[2015-09-15 13:28] bruth opened #32 "DQA: Add query command with SQL interface"
The interface will be:

[code]

An example would be:

[code]

The implementation would involve creating an in-memory SQLite database with a single table `issues` that loads the files in the target directory into the table then executing the query against it, then printing out the results.

[2015-09-15 15:03] writetoritu commented on #23
I tried the following command
./pedsnet-dqa generate-templates --copy-persistent=Colorado/ETLv3/ --root=Colorado/ETLv4 Colorado ETLv4

It did generate the template files for Colorado ETLv4 - with the following bugs:
- each persistent issue (from the previous version) is being copied 3 to 4 times , e.g.
  for the care_site tabl (previous report https://github.com/PEDSnet/Data-Quality/blob/master/Se

[2015-09-15 15:07] writetoritu commented on #29
finally I was able to run the command

[code]

however, persistent issues are also being listed in the feedback report - which should not happen.

Thanks a lot!

[2015-09-15 17:06] writetoritu commented on #22
Thanks a lot for this work!

The latest rules are located here: https://github.com/PEDSnet/Data-Quality/tree/master/SecondaryReports/Ranking
in the csv files

[2015-09-17 15:01] writetoritu commented on #23
the template for procedure_occurrence is missing fields "quantity" and "visit occurrence id"

[2015-09-17 15:25] writetoritu commented on #23
One more issue - if you look at drug_exposure.csv for Colorado ETL v3, then there are 2 persistent issues for the column drug exposure end date. However, only one got carried forward to the next round (through the  --copy-persistent option)

[2015-09-17 16:45] bruth commented on #23
I created a new template for pedsnet 2.0.0 and those fields are present for me.

[2015-09-17 16:51] bruth commented on #23
I see the issue, there are multiple issues listed for the same goal `Consistency`: https://github.com/PEDSnet/Data-Quality/blob/master/SecondaryReports/Colorado/ETLv3/drug_exposure.csv#L19-L22 I see the same thing with `drug_exposure_start_date` as well: https://github.com/PEDSnet/Data-Quality/blob/master/SecondaryReports/Colorado/ETLv3/drug_exposure.csv#L34-L36

Is this an error or can there be m

[2015-09-17 16:56] writetoritu commented on #23
Yes, it is valid to have multiple issues for a goal. They all will have different issue codes.

[2015-09-17 16:58] bruth commented on #23
Ok thanks, I will update the code to support that.

[2015-09-18 17:49] #22 closed, assigned to nobody

[2015-09-18 17:49] #23 closed, assigned to nobody

[2015-09-18 17:49] #29 closed, assigned to nobody

[2015-09-18 17:49] #32 closed, assigned to bruth

[2015-09-21 14:22] bruth commented on #4
This is integrated dynamically through the user interface (#6).

[2015-09-21 14:22] #4 closed, assigned to bruth

[2015-09-21 14:23] bruth commented on #11
The version has been added to the root endpoint.

[2015-09-21 14:23] #11 closed, assigned to nobody

[2015-09-29 20:09] bruth commented on #13
Now used by the DQA command and used by the pending etlprov command (#35).

[2015-09-29 20:09] #13 closed, assigned to nobody

[2015-09-29 20:14] bruth opened #36 "Add etlprov migrate command"
This will help migrate an existing set of files to new versions of the data model.

[2015-09-29 20:22] bruth opened #37 "Report disjoint entities with data model"
By default, only the fields flagged `required` will be reported with the option of setting the `verbose` flag to see all missing entities. Further entities that no longer exist in the data model will be reported.

[2015-09-29 21:07] murphyke commented on #37
If we want to test the tool on the submissions we have so far, I've thrown them together in the [prov-data branch of Data_Coordinating_Center](https://github.com/PEDSnet/Data_Coordinating_Center/tree/prov-data/provenance/data)

[2015-09-29 21:25] bruth commented on #37
That is great. Thanks.

[2015-09-30 11:28] bruth commented on #37
@murphyke It appears the operational tables such as [concept](https://github.com/chop-dbhi/data-models/blob/master/pedsnet/v2/definitions/concept.csv) are marked as required so I added a fixed list of PEDSnet tables in the validator to produce the results below.

**Boston**

The files validated without issue against 1.0.0. It does not seem they have been updated to the 2.0.0 data model.

[code]

*

[2015-09-30 13:42] murphyke commented on #37
Byron, thanks.  I mis-documented Nemours, so its results are much better:

[code]

I have to look at those two fields in i2b2_pedsnet.

[2015-09-30 14:46] gracecodes144 commented on #37
This looks like it is already turning into a very useful tool. :+1:

[2015-10-01 20:14] bruth commented on #37
@murphyke Updated report. It looks like someone copied someone.. (step 70)

**Nationwide**

[code]

**Nemours**

[code]

[2015-10-01 22:03] bruth commented on #37
Edited the previous comment with the full error report.

[2015-10-01 23:49] murphyke commented on #37
Thanks, @bruth

[2015-10-02 11:55] #15 closed, assigned to nobody

[2015-10-07 10:34] bruth commented on #37
@murphyke Does the output satisfy this issue?

[2015-10-07 14:44] murphyke commented on #37
Yes

[2015-10-07 16:11] bruth commented on #37
Implemented in 9649bbb3c

[2015-10-07 16:11] #37 closed, assigned to bruth

[2015-10-13 11:24] bruth commented on #6
See https://github.com/PEDSnet/pedsnet-catalogue

[2015-10-13 11:24] #6 closed, assigned to l-k-

[2015-10-13 17:12] bruth commented on #5
@burrowse @murphyke Has there been any more thoughts about the process for managing this re: the sites? As long as the vocabularies are _regulated_, the sites shouldn't have a problem. I still think it is worthwhile to have some way of knowing what changed when we use a new export from OHDSI. What do either you typically do when you find an inconsistency with the previous version?

[2015-10-13 17:31] murphyke commented on #5
I'm not usually on the front lines finding such inconsistencies.

Aaron and Charlie are the only people who have built vocabularies.  We should have that procedure documented in the dcc repo somewhere, but I don't know if/where it is.  It may be possible that the person doing the build doesn't really know what has changed and just places trust in OHDSI.  The [OMOP vocab download page](http://www.o

[2015-10-13 17:38] bruth commented on #5
I was thinking of another command line tool that would just compare two versions of concepts.csv file detect what changed based on the heuristics discussed earlier. We could certainly make it available for OHDSI to use, but it would be valuable for us to isolate changes so we can fix things and communicate them. Does this sound reasonable?

[2015-10-13 17:39] murphyke commented on #5
That sounds reasonable.

[2015-10-13 17:52] burrowse commented on #5
I think that would be a good start. We are moving towards creating snapshots of the vocabulary to package and deliver to sites with ddl and a stable ETL convention. The workflow for the snapshot that will be distributed for v2.1 (I think) has been to download the files from OHDSI's Athena site and add in any other vocabularies( GPI - because of licensing and PEDSNet - our custom vocabulary). Any d

[2015-10-13 17:56] bruth commented on #5
Great list, thanks. I can assume that operating on the `concepts.csv` should be sufficient?

[2015-10-13 18:01] burrowse commented on #5
I think for what I listed above the concepts.csv file would be sufficient.

Another  suggestion for a simple check would be ensuring that all the vocabularies from the vocabulary.csv file match the vocabulary ids in concepts.csv file

And also (reaching for the sky here -- we don't need this right away) another great check would be to ensure that the relationships we need in the concept_relationsh

[2015-10-13 18:07] bruth commented on #5
Where are the _relationships that we need_ defined?

[2015-10-13 18:19] burrowse commented on #5
Hmm..They aren't defined in one place per say because it depends what each site has locally as a source code.

I think a good start would be to ensure that anything that maps to SNOMED(since we are using that for our diagnosis/condition occurrence golden standard) and RxNorm (our medication/drug exposure golden standard) is tracked.

This means that if the snomed/rxnorm concept is in concept_id_2

[2015-10-13 19:01] bruth commented on #3
This is done both in the DQA service and the DQA command line tool.

[2015-10-13 19:01] #3 closed, assigned to l-k-

[2015-10-14 19:21] bruth opened #39 "PEDSnet version 2.1.0 throwing 500"
_This applies to the ETL conventions service._

The 2.1.0 PEDSnet data model was added recently and the service is throwing a 500 for some reason.

[2015-10-18 23:24] bruth commented on #39
It appears 17f08c2d36365c0 fixed this issue.

[2015-10-18 23:24] #39 closed, assigned to bruth

[2015-11-06 14:41] bruth opened #43 "Ignore empty lines in provenance files"

[2015-11-06 15:36] #43 closed, assigned to nobody

[2015-11-12 15:31] bruth opened #50 "Add validate subcommand to DQA tool"
A few inconsistencies have been found in the secondary report files noted [here](https://github.com/l-k-/tools/blob/b0aba78e1d0b9e58a5fe5f33eea425aa3ad71bba/services/dqa-secondary-reports/report_parser.py#L18-L26).

[2015-11-12 17:46] bruth commented on #5
Preliminary tool created here #51. The [README](https://github.com/PEDSnet/tools/blob/issue-5/cmd/vocab/README.md) describes two basic commands. Please provide feedback and suggestions.

[2015-11-12 18:12] bruth opened #52 "Remove redundant error messages in ETL Prov validation"
For example:

[code]

Would be more interpretable as:

[code]

Also I will move the `N entities are missing from the model` output under the `entities.csv` group so the `not defined` error makes more sense.

[2015-11-17 16:03] writetoritu commented on #50
Please let me know when the new subcommand ("validate") is ready for testing.

[2015-11-18 12:14] bruth commented on #1
Closing since this was a high-level ticket and most of these points have been addressed in the PEDSnet catalogue client.

[2015-11-18 12:14] #1 closed, assigned to nobody

[2015-12-07 18:17] gracecodes144 opened #54 "Add ability to specify URL path prefix at deploy time"
I've got the following nginx proxies set up on our internal test server (note that the URLs being passed to are docker-configured container local links). As you can see by visiting https://reslnepdsndev02.research.chop.edu/catalogue and further paths, all are giving 404s of some variety because the apps are not aware they are being server from a path prefix.

[2015-12-07 18:29] bruth commented on #54
Can you show a snippet of the nginx config? The client aside, in general the purpose of a proxy is to _not_ have to alter the backend services.

[2015-12-07 18:32] bruth opened #55 "Validate the tables in the DQA rule sets"
[This step](https://github.com/PEDSnet/tools/blob/master/cmd/dqa/rules.go#L380-L382) should validate that the tables exist in the model.

[2015-12-07 20:12] gracecodes144 commented on #54
Sorry, here it is:

[code]

[2015-12-07 21:09] gracecodes144 commented on #54
Is your comment about the general purpose of proxies intended to motivate a change to the nginx config? There's obviously a lot of proxy configuration settings I am not using that I could investigate.

[2015-12-07 21:35] gracecodes144 commented on #54
After reading the part of the nginx docs quoted below, I added a `/` to the end of all the proxy_pass URLs and the simpler parts of the services are now working (because nginx has removed the part of the requested URLs that match the location). However, the links and client-side functionality is still not working, as we discussed expecting.

[2015-12-08 00:01] bruth commented on #54
Sorry, yes, in a convoluted way.

Great!

@l-k- and I are working on it.

[2015-12-08 21:39] writetoritu opened #56 "enhancing pedsnet-dqa generate-feedback command"
@bruth
Currently, the "generate feedback" generates one GH issue per site and contains s list of multiple DQA issues, e.g. https://github.com/PEDSnet/StLouis/issues/25

Based on inputs from @baileych and as a step toward automating the DQA workflow, would it be possible to generate one GH issue per DQA issue, and ...
- automatically post those issues on site's repo with appropriate title
- tag GH

[2015-12-08 21:42] bruth commented on #56
Yes that would not be a problem.

[2015-12-08 21:45] bruth commented on #56
For reference here is the API call that would be required: https://developer.github.com/v3/issues/#create-an-issue.

[2015-12-08 22:45] writetoritu commented on #56
Thank you @bruth . I am working with @baileych to come up with a good format for these unit issues. A toy example is posted [here](https://github.com/PEDSnet/CHOP/issues/156).

[2016-01-25 21:24] bruth opened #57 "Update v2 ETL parser for header changes"
The header of the field table [changed](https://github.com/PEDSnet/Data_Models/commit/156442cec73d39961874fd51e8e9a8f77a11e9b4) which requires [this regex](https://github.com/PEDSnet/tools/blob/master/services/etl/parser.py#L60) to be updated.

[2016-02-01 15:09] #57 closed, assigned to nobody

[2016-03-01 14:38] writetoritu opened #60 "pedsnet-dqa generate template"
minor comments
please remove the following tables
- drug_strength, relationship, and source_to_concept_map

[2016-03-01 20:13] bruth commented on #60
I added drug strength, but relationship and source_to_concept_map were already ignored. Do you see them still be generated? Are they being copied over from the previous version using `--copy-persistent`?

[2016-03-02 18:57] writetoritu commented on #60
thanks for ignoring drug_strength also. You are right - relationship and source_to_concept_map are already being ignored --- I was looking at the previous reports.

[2016-03-03 16:14] murphyke opened #62 "Remove version default from etlprov tool"
When someone happens to be working on it ....  The version default doesn't add any convenience anymore.

[2016-03-04 18:27] bruth opened #63 "Split up tools and services into separate repos"
This command can be used: https://help.github.com/articles/splitting-a-subfolder-out-into-a-new-repository/

[2016-03-04 18:30] #60 closed, assigned to nobody

[2016-03-04 18:31] bruth commented on #55
Fixed in f2169d63c0a0af671240035db58ce1b44d2410f6

[2016-03-04 18:31] #55 closed, assigned to bruth

[2016-03-04 18:32] #54 closed, assigned to nobody

[2016-03-04 18:34] bruth commented on #50
This was implemented in 9c5ddec39f8915b4d7d779f2b6ea9e04385402fa

[2016-03-04 18:34] #50 closed, assigned to bruth

[2016-03-04 18:35] #62 closed, assigned to nobody

[2016-03-04 18:37] bruth opened #64 "Aggregate rule set validation errors"
Currently for every invalid table of field found in the rule set the program exits. All errors should be aggregated and reported to make it simpler to fix.

[2016-03-04 19:13] bruth commented on #64
@utidjianl Here is the list of validation errors in the Fact rules file. I would have made the output a bit nicer, but I don't expect this to occur frequently.

[code]

[2016-03-04 19:14] #64 closed, assigned to nobody

[2016-03-04 19:28] bruth commented on #56
Here is a summary after a dicussion with @utidjianl and @writetoritu.
- [ ] Create issues per site for each DQA issue found
- [ ] Label said issues with DQA cycle; [see](https://github.com/PEDSnet/CHOP/issues/156)
- [x] Enhance current summary output of DQA issue report to include links to each issue
- [ ] Create an issue automatically with the summary issue
- [x] Carry over all unresolved issues

[2016-03-09 16:12] writetoritu opened #65 "GitHub Statistics"
We need to compute the following for a given data cycle.

number of edits to conventions doc
number of edits to ETL code by each site
number of issues opened in data model repo
number of issues opened in each site’s repo

where a data cycle is defined in the following way:
- Data cycle 1 = January – Feb 2015
- cycle 2 = march  - april 2015
- and so on  (as specified here https://github.com/PEDSnet

[2016-03-09 17:19] bruth commented on #65
Yes. Out of curiosity how will this information be used? Does it need to be presented to anyone other than you and @utidjianl? Do you have an expectation of a user interface to for viewing these stats?

[2016-03-09 18:30] penningtonj commented on #65
These are important stats to quantify the operational burden of data model changes.  What're the current options for getting these data out?

[2016-03-09 18:38] writetoritu commented on #65
@bruth thanks - We don't need these stats urgently.
We wanted to see the changes in GitHub docs and GH issues in each cycle and would like to view them along with the number of data quality issues per cycle. This will demonstrate the network's progress over various cycles and also highlight if there is any correlation between the use of GitHub for data discussions and the number of data quality is

[2016-03-09 18:47] bruth commented on #65
The ETL conventions service has all the information needed to compute this. An enhancement needs to be made to push changes detected by the service to a log or database so they can be aggregated over time.

This can be determined using git data similar to the ETL conventions service. Each site's repository appears to be organized a bit differently. Are there select directories or files that should

[2016-03-09 19:03] writetoritu commented on #65
We can keep all abovementioned measures simple.
e.g. number of edits to ETL code by each site ~ any commit to that site (no matter which directory or which file)

[2016-03-09 20:49] murphyke opened #66 "Missing column produces stack dump in pedsnet-etlprov"
The `steps.csv` file of one site was missing the last column, which caused the following output.

[code]

[2016-03-17 14:01] murphyke opened #67 "pedsnet-etlprov miscellaneous"
Some issues to consider.  I wouldn't mind working on some of the etlprov issues, although it would probably have to be in a couple weeks.
- Update to latest service URL
- Support case-insensitive entities - some sites are inclined to use upper-case, which is not unreasonable
- When using model and version defaults, the tool reports `> error decoding model: invalid character '<' looking for beginni

[2016-03-17 14:03] murphyke opened #68 "Update pedsnet-etlprov to use latest service URL"
Currently, without the `-service http://data-models-service.research.chop.edu` override, the tool returns:

[code]

I can tweak this.

[2016-03-17 14:17] murphyke commented on #68
Withdrawing because my initial problem report was wrong; will stuff into #67 (lower-priority miscellany).

[2016-03-17 14:17] #68 closed, assigned to murphyke

[2016-04-11 14:54] bruth opened #69 "[DQA] Incorrect handling of bad argument"
The bug can be observed using the following command. Note the space in between `--version` and the `="2.2.0"` tokens.

[code]

The incorrect reported error was:

[code]

[2016-04-11 17:42] writetoritu commented on #56
a minor update: please add "measurement_organism" as a fact table in the generate-feedback command. I will be updating the ranking files accordingly.

[2016-04-11 18:10] writetoritu opened #70 "[DQA]enhancement to ranking tool"
modify the field (and associated logic) from 'is date/year' to 'is date/year/time' (i.e. include fields ending with _time)

[2016-04-11 19:14] bruth opened #71 "[DQA] Add command for validating ranking rules"

[2016-04-11 19:42] WustlRob opened #72 "Packager Issue on Windows"
We have been using C# version of the packager from our previous team for all previous submissions.  Tried using the current one and ran into the following issue:

F:\SSIS Information>data-models-packer.exe -comp .zip -out data input
2016/04/08 09:03:38 packer: configuration error: no compression extensions found

F:\SSIS Information>data-models-packer.exe -out data input
2016/04/08 09:03:55 packer

[2016-04-11 19:48] gracecodes144 commented on #72
Thanks for trying it out! The packer expects the filename to have compression extensions on it that match the selected compression method. So in the case of your first command, `data.zip`, and in the case of your second command, `data.tar.gz`, since gzipped tarfile is the default compression.

This behavior seems silly, in hindsight, and I'll be amending it in the future. Thanks for pointing it ou

[2016-04-13 11:13] #70 closed, assigned to nobody

[2016-04-15 20:53] #56 closed, assigned to nobody

[2016-04-18 13:13] bruth opened #78 "[DQA] Ignore empty labels"

[2016-04-18 13:15] bruth opened #79 "[DQA] Check for summary issue prior to posting duplicate"

[2016-04-18 13:19] bruth opened #80 "[DQA] Add support for synchronizing issues with the Secondary Reports"
For issues that have an issue ID defined, the issue will be updated in-place with new labels based on the state in the CSV file.

[2016-04-20 13:54] writetoritu commented on #79
So, I will be closing individual DQA related issues (on site's repo) as soon as there is consensus between DCC and site on the precise cause (e.g. programming error, unclear conventions, missing in source etc). Does that sound OK to you?

If the issue X re-appears in a subsequent data cycle (except in the case of "Cause: persistent" issues), we will re-open X on GH. Correct? Would it be possible t

[2016-05-26 12:39] bruth commented on #79
This was fixed fcf438cb6

[2016-05-26 12:39] #79 closed, assigned to nobody

[2016-05-26 12:41] bruth commented on #78
[This code](https://github.com/PEDSnet/tools/blob/master/cmd/dqa/feedback/github.go#L103-L119) should prevent against this.

[2016-05-26 12:41] #78 closed, assigned to nobody

[2016-05-26 19:38] #80 closed, assigned to nobody

[2016-05-27 14:45] bruth opened #82 "[DQA] Reopen non-persistent issues across data cyles"

[2016-05-27 17:49] #82 closed, assigned to nobody

[2016-06-02 15:47] writetoritu opened #83 "[DQA] enhance feedback generate command"
For generating the feedback for Nth data cycle
- If an issue is under review in the (N-1)th data cycle and is still under review in the Nth cycle then
  -  then the associated issue needs to be re-opened on GH (this feature is already implemented)
  - AND the Finding of the issue in the Nth cycle's csv should be posted as a new comment on GH issue (this still needs to be implemented)

[2016-06-02 15:59] bruth commented on #83
Ah yes. I will have that done by tomorrow.

[2016-06-03 17:37] bruth commented on #83
@writetoritu How would you like the automated comment phrased? For example:

[code]

[2016-06-04 02:32] writetoritu commented on #83
"latest finding:{copy from CSV finding field}"

[2016-06-04 10:11] #83 closed, assigned to nobody

[2016-06-04 10:14] bruth commented on #83
New build https://github.com/PEDSnet/tools/releases/tag/dqa-0.2.0-beta.4

[2016-06-20 17:59] bruth opened #84 "[ETL Service] Use tags instead of hard-coded refs"
@burrowse Informed me that the Data Models repo now has [tags](https://github.com/PEDSnet/Data_Models/tags) for each version of the data model. This will replace the need to explicitly define each version with the correspond ref [here](https://github.com/PEDSnet/tools/blob/master/services/etl/main.py#L274-L294). What will need to remain is the location of the markdown file at each version since th

[2016-08-19 16:02] writetoritu opened #85 "[DQA] Request for new subcommand to read from issue log file"
- _get-auto-identified-issues_
- The command will be used right after we run the generate-template command.
- It will read from the issue log files for a given data version (path specified on the command)
- e.g. there could be an 'issues' folder [here](https://github.com/PEDSnet/CHOP/tree/dqa/DataQualityAssessment/Level1/PEDSnet%20CDM/CHOP%20ETL%20v10). i.e. the R scripts will generate the primary

[2016-08-19 16:04] writetoritu opened #86 "[DQA] changes to secondary template and logic"
1. New column to be added to secondary file template: _Method_
   - it denotes whether the issue was identified manually or automatically
   - legal values: 'auto', 'manual'
   - all issues logged using the _get-auto-identified-issues_   subcommand should be assigned the 'auto' value for Method.
2. Please remove the field 'Reviewer' and 'Site Response'
3. Also, remove the field 'Goal' and we no lo

[2016-08-19 16:09] writetoritu commented on #85
Also, please let me know if you have any feedback on the sample issue log file.

[2016-08-22 16:32] writetoritu commented on #86
Also, if an issue is identified as a "Cause:Non-issue", it should not be fed forward to the next version of secondary report.

[2016-08-23 18:46] bruth commented on #85
In the example log file, the `WARNING: ...` block contains newlines, but is not quoted. This could lead to parsing problems. One suggestion is to simply replace newlines with spaces or commas.

An alternate suggest is for the log file to be a valid CSV file. This of course would depend on if R has a csv package (I am sure) and if it is easy to integrate in the scripts.

[2016-08-23 18:47] bruth commented on #85
Referencing this here from #86

[2016-08-25 12:44] writetoritu commented on #85
Thanks for reviewing the request and providing your feedback on the sample log file.
Please find some examples of improved log files in the csv format [here](https://github.com/PEDSnet/StLouis/tree/dqa/DataQualityAssessment/Level1/PEDSnet%20CDM/StLouis%20ETL%20v9/issues).

[2016-08-25 21:21] bruth commented on #85
The CSV files look great. Is there any significance to the numbers in the first column? I appears to just be the line number without a column name.

[2016-08-26 01:19] writetoritu commented on #85
Yes the first column could be ignored ...do you want me to get rid of it or would you be able to ignore it at your end ?

[2016-08-26 11:14] bruth commented on #85
I suggest removing since it's not necessary.

[2016-08-26 13:16] writetoritu commented on #85
Done - please see [here](https://github.com/PEDSnet/StLouis/tree/dqa/DataQualityAssessment/Level1/PEDSnet%20CDM/StLouis%20ETL%20v9/issues)

[2016-08-26 16:13] writetoritu opened #87 "[DQA] adding conflict resolution rules to get-auto-identified-issues command"
@bruth Please make suggestions on a suitable format.

Here is the first set of rules (for code G4-002, i.e. missing data category) to begin with.
Each rule denotes the changes to be made to the secondary report

[code]

[2016-08-26 17:43] bruth commented on #85
Looks great, thank you.

[2016-08-26 19:27] writetoritu commented on #87
[code]

[2016-08-31 11:49] bruth commented on #85
Implemented in #88. The command is called `merge-issues`.

[2016-08-31 11:49] #85 closed, assigned to nobody

[2016-09-12 14:56] bruth commented on #86
Would you be comfortable if I implemented this as a migration and apply it to all secondary reports to date? This would involve removing the columns from existing files. Or do you want to maintain the existing columns and this only applies to new reports?

[2016-09-12 16:10] writetoritu commented on #86
It would be much better if this only applies to new reports. Would that work?

[2016-09-12 16:57] bruth commented on #86
Yes that can work.

[2016-09-13 17:31] #86 closed, assigned to nobody

[2016-10-05 18:33] writetoritu commented on #87
@bruth
For the first version of this tool
- let's develop functions for  "BA-001" check type only that generates the most conflicts
- Also, for conflicts with other check types, we need to print the findings from previous and this cycle so that the user can take a quick action by reading the conflict message.

[2016-10-05 18:35] writetoritu opened #90 "[DQA] edits to generate template subcommand"
We no longer need the empty rows (i.e. rows without any issue related fields populated) now that we have automated most of our workflow.
So the generate-template subcommand will only read the relevant issues from the previous cycle's csv and feed them forward (and ofcourse with the updated data-version etc).

[2016-10-14 18:48] writetoritu commented on #90
We have renamed the master list to DQA_Check_Type_Inventory.csv

[2016-10-24 14:47] writetoritu commented on #87
@started a draft of the Python code that we discussed the other day
https://github.com/PEDSnet/Data-Quality/pull/334

[2016-10-25 13:00] writetoritu opened #91 "[DQA] update various subcommands based on edits to the DQA model"
- Some issues are not related to any field.
- Some issues are related to multiple fields (separated by commas)

[2016-10-25 13:25] bruth commented on #69
This was an issue in a dependency that should be fixed.

[2016-10-25 13:25] #69 closed, assigned to nobody

[2016-10-25 13:26] bruth commented on #72
Closing since this is not applicable to this repo.

[2016-10-25 13:26] #72 closed, assigned to nobody

[2016-10-25 13:27] #5 closed, assigned to nobody

[2016-10-25 13:27] #36 closed, assigned to nobody

[2016-10-25 13:28] bruth commented on #52
I believe this was fixed.

[2016-10-25 13:28] #52 closed, assigned to nobody

[2016-10-31 18:12] #90 closed, assigned to nobody

[2016-11-01 12:28] bruth commented on #91
Fixed in #93

[2016-11-01 12:28] #91 closed, assigned to nobody

[2016-11-17 21:07] writetoritu opened #95 "[DQA] trouble merging issues"
Hi @bruth
Please refer to the DQA master branch to get the data for the following query:
[code]

When I try this, it says "No new issues found." - which is not true.

Thanks for your help!

[2016-11-18 12:54] bruth commented on #95
Ah. The command takes one or more files, not a directory. So you need to add this `*.csv` at the end, e.g.

[code]

The usage info for the tool states this, but I will update the README as well. I will update the tool to handle this case so either will work.

[2016-11-19 11:10] bruth commented on #95
Fixed in 95dfbd7

[2016-11-19 11:10] #95 closed, assigned to nobody

[2016-11-22 15:19] writetoritu opened #96 "[DQA] ranking rules functionality"
Hi @bruth

I ran the ranking tool and the following case wasn't handled:
https://github.com/PEDSnet/Data-Quality/blob/master/SecondaryReports/CCHMC/ETLv8/provider.csv#L3
although a corresponding rule exists https://github.com/PEDSnet/Data-Quality/blob/master/SecondaryReports/Ranking/RuleSet1_Admin.csv#L23

[2016-11-22 15:28] bruth commented on #96
The admin rule is defined for BA-001 and the issue in the report has a check code of BA-003.

[2016-11-22 15:29] writetoritu commented on #96
sorry please see https://github.com/PEDSnet/Data-Quality/blob/master/SecondaryReports/Ranking/RuleSet1_Admin.csv#L22

[2016-11-22 15:54] #96 closed, assigned to nobody

[2016-11-22 15:56] bruth commented on #87
Implemented in #94

[2016-11-22 15:56] #87 closed, assigned to nobody

[2017-01-25 13:45] bruth opened #97 "[dqa] Add validation to parsed text and improve error messages"

[2017-01-26 13:39] writetoritu opened #98 "[dqa] generate template bug (multiple fields)"
@bruth As I mentioned yesterday, the resolver doesn't seem to be working for the CA003 and CA004 check. It looks like the problem is not with the resolver but with the generate template command that does not seem to copy the persistent issues related to multiple fields, e.g. CA003 and CA004 checks.

Thank you!

[2017-03-06 16:34] WustlRob opened #99 "Data Models Packer - http service 503"
@aaron0browne we're getting a 503 when we try to package our files.  Any suggestions?

2017/03/06 10:29:03 packer: error creating or verifying metadata file: service
**http://data-models.origins.link responded with status code 503**

[2017-03-06 16:49] WustlRob commented on #99
Wrong group. Moving to chop-dbhi

[2017-03-06 16:49] #99 closed, assigned to nobody

[2017-03-08 19:52] writetoritu opened #100 "[dqa] sync feedback bug"
does not sync if the issue has multiple labels for data cycle,e.g. https://github.com/PEDSnet/NAtionwide/issues/92

[2017-04-14 17:31] writetoritu opened #101 "[dqa] error in merge-issues command"
`GET https://api.github.com/repositories/23494544/contents/DQA_Catalog: 404 Not Found`

So, this is probably because we have now split the DQA work into two separate repos:
1. https://github.com/PEDSnet/Data-Quality-Results  (this is where we store all secondary reports - its a private repo)
2. https://github.com/PEDSnet/Data-Quality-Analysis (this is a public repo containing DQA scripts that can

[2017-04-14 17:41] #101 closed, assigned to nobody

[2017-06-02 18:18] writetoritu opened #102 "edit generate template command to include new column"
`alias`

[2017-06-02 18:19] writetoritu opened #103 "include hyperlink to function in the generate feedback command"

[2017-06-09 13:36] writetoritu opened #104 "edit generate feedback command to copy new issues as well"
Currently, the command copies all `under review` and `persistent` issues from old to new data cycle. We would like to copy over the `new` issues as well.

[2017-06-09 14:13] eceowl opened #105 "Can't run/build pedsnet-dqa from source"
A few issues are making it impossible to run the pedsnet-dqa tool from the current master branch.  These are as follows:

- A few imports were still referring to the `dqa-pedsnet` repository which was deleted and is now stored within this (`tools`) repository.

- The go-github client api now requires a `context.Context` object passed to each function call made.

[2017-06-09 14:15] writetoritu commented on #105
@bruth please help!

[2017-06-09 14:15] eceowl commented on #105
@writetoritu O I have a PR, just forgot to make the issue first.

[2017-06-09 14:19] eceowl commented on #105
PR here: #106

[2017-06-09 16:46] #105 closed, assigned to eceowl

[2017-06-09 16:59] bruth commented on #104
[Here](https://github.com/PEDSnet/tools/blob/master/cmd/dqa/generate/cmd.go#L114) is where the condition is for which issues get copied over. You could add another method `IsNew` like the [other ones](https://github.com/PEDSnet/tools/blob/master/cmd/dqa/results/file.go#L327-L333).

[2017-06-13 13:11] writetoritu opened #107 "translate check code (table, field) to SQL query (generate feedback)"
@eceowl this may be the next round of source code linking feature.
As per the current plan, we are providing hyperlinks to the R function that generates the issue.
The ETL analysts would also like to have an SQL query (included in the body of the GH issue) that they can use to replicate the DQA issue at their end.

We could probably generate an SQL query code based on the check code, table name an

[2017-06-20 10:36] #102 closed, assigned to eceowl

[2017-06-29 14:35] eceowl opened #110 "Add Check Alias functionality to merge-issues command"
The `merge-issues` command needs to support the new `CheckAlias` field in order to work properly.